.config-screen {
  max-width: 640px;
  padding: 0 2rem;
  text-align: center;

  h2 {
    font-size: 6rem;
    line-height: 1;
    text-align: center;
    margin: 0;
    color: var(--pink);
    font-family: var(--pixel-font);
    text-shadow: 3px 3px 0px var(--dark-blue);
  }

}


.config-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem 0 2rem;
  text-align: left;

  @media screen and (max-width: 600px) {
    margin: 0 0 1rem;
  }
}

.config-item {
  margin: 1rem 0;
  cursor: pointer;
  color: var(--silver);
  //outline: 1px solid red;

  input {
    visibility: hidden;
  }

  .__checkbox {
    color: var(--grey);
    margin-right: 1rem;
    font-size: 2rem;
    font-family: var(--pixel-font);
    transform: scale(1);
    display: inline-block;
    transition: transform .2s ease;
  }

  .__name {
    font-size: 2rem;
    font-family: var(--pixel-font);
  }
  i {
    font-style: normal;
    display: block;
    position: relative;
    left: 2rem;
    margin-top: .25rem;
    white-space: pre-wrap;

    @media screen and (max-width: 600px) {
      white-space: normal;
      width: 90%;
    }
  }

  &.--active {
    color: white;

    .__checkbox {
      color: var(--pink);
      transform: scale(1.4);
    }
  }
}

.config-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.config-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.config-text {
  font-size: 1.2rem;
  line-height: 1.5;
}